.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 50px;
  font-size: large;
}

a:link { 
  text-decoration: none;
  color: rgb(255, 255, 255);
}

a:visited {
  color: rgb(255, 255, 255);
}